
body {
  margin: 0;
  background-color: SlateBlue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.App {
  max-height: 50%;
  width: 600px;
  border-radius: 30px;
  padding: 20px;
  background-color: #16161C;


  .result {
    text-align: center;

    button {
      font-weight: bold;
      font-family: 'Nunito', sans-serif;
      border-radius: 30px;
      border: 0;
      padding: 15px 30px;
      font-size: 20px;
      background-color: yellow;
      color: black;
      margin-top: 20px;
      cursor: pointer;
    }

    h2 {
      margin-bottom: 0;
    }

    img {
      width: 150px;
    }
  }

  .progress {
    height: 30px;
    border-radius: 30px;
    background-color: #16161C;

    &__inner {
      height: 100%;
      border-radius: 30px;
      width: 80%;


      transition: all 0.9s ease-in-out;
      background: linear-gradient(90deg, orange 0%, yellow 100%);
    }
  }

  &:before,
  &:before {
    width: 95%;
    bottom: -10px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 0;
  }

  &:after {
    width: 90%;
    bottom: -20px;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 1;
  }

  h1 {
    margin: 0;
    padding: 10px;
    color: white;
  }

  ul {
    list-style: none;
    padding: 0;


    li {
      background: rgb(232, 232, 232);
      padding: 15px;
      border: 2px solid rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      margin-bottom: 10px;
      cursor: pointer;


      &:hover {
        border: 2px solid rgba(0, 0, 0, 0.3);
      }
    }
  }

  img {
    max-width: 50%;
    max-height: 50%;
    border-radius: 10px;

  }
}
